# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore macOS folder attributes
__MACOSX/

# Ignore environment files and secrets
.env

# Volumes and persistent data
volumes/

# Keytabs
*.keytab

# Ignore other common macOS metadata
*.swp
*.swo

# Ignore files created by macOS Finder
Icon?

# Ignore files created by macOS resource fork
._*
